.icon:hover {
    color: pink;
}

.icon {
    color: white;
    text-decoration: none;
}

.icon:hover {
    color: pink;
}


.like button:hover {
    color: white;
}

a:hover {
  text-decoration: none;
}

.like:hover {
    color: white;
}

.like {
    color: #17a2b8;
}

.link-image {
    color: black;
}

.count_f {
    color:#aaa;
    border:3px solid #bbb;
    border-radius:26px;
    padding:10px 20px;
    margin:20px 10px 0;
}