.icon:hover {
    color: pink;
}

.icon {
    color: white;
    text-decoration: none;
}

/* social-auth */
.social {
    float:right;
}
.social li {
    list-style:none;
    padding:10px 20px;
    margin:0 0 10px 0;
}
.social li a {
    width:100%;
    height:100%;
    display:block;
    color:#fff;
}
.social li.facebook { background:#3b5399; }
.social li.twitter { background:#00bae1; }
.social li.google { background:#de1710; }


.login-form {
    float:left;
}

