{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
    <div class="container">
        <h2>Zapomiałeś hasła?</h2>
        {% if validlink %}
            <p>Dwukrotnie podaj nowe hasło.</p>
            <hr>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Zmień hasło</button>
            </form>
        {% else %}
            <hr>
            <p>Łącze pozwalające na wyzerowanie hasła jest nieprawidłowe, ponieważ
                prawdopodobnie zostało już wcześniej użyte. Musisz ponownie
                rozpocząć procedure zerowania hasła.
            </p>
        {% endif %}
    </div>

{% endblock %}