{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ image.title }}</h1>
        <hr>
        <div class="form-row">
            <div class="col">
                <a href="{{ image.image.url }}">
                    <img src="{% thumbnail image.image '300x0' %}" alt="image">
                </a>
            </div>
            <div class="col">
                {% with total_likes=image.users_like.count users_like=image.users_like.all %}

                    <div class="btn btn-outline-info rounded-pill like">

                            <span class="count">
                              <span class="total">{{ total_likes }} </span>

                            </span>

                        <a href="#" data-id="{{ image.id }}"
                           data-action="{% if request.user in users_like %}un{% endif %}like"
                           class="like button">
                            {% if request.user not in users_like %}
                                Lubię
                            {% else %}
                                Nie lubię
                            {% endif %}
                        </a>


                    </div>
                    <p>{{ image.description|linebreaks }}</p>


                    {% for user in users_like %}
                        <div class="text-center">
                        {% if user.profile.photo %}
                            <img src="{% thumbnail user.profile.photo '140x140' crop='center' %}" alt="user-image"  class="rounded-circle">
                        {% endif %}

                        <p>{{ user.first_name }}</p>
                    {% empty %}
                        Jeszcze nikt nie polubił tego obrazu.
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}

{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "images:like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          $('a.like').data('action', previous_action == 'like' ?
          'unlike' : 'like');

          $('a.like').text(previous_action == 'like' ? 'Nie lubię' :
          'Lubię');

          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ?
          previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });

{% endblock %}
