{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ image.title }}</h1>
        <hr>
        <div class="form-row">
            <div class="col">
                <a href="{{ image.image.url }}">
                    <img src="{% thumbnail image.image '300x0' %}" alt="image">
                </a>
            </div>
            <div class="col">
                {% with total_likes=image.users_like.count %}
                    <button class="btn btn-outline-info rounded-pill">{{ total_likes }} polubień</button>

                    <p>{{ image.description|linebreaks }}</p>



                    {% for user in image.users_like.all %}
                        <img src="{{ user.profile.photo.url }}" alt="user-image">
                        <p>{{ user.first_name }}</p>
                    {% empty %}
                        Jeszcze nikt nie polubił tego obrazu.
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    </div>

{% endblock %}