{% load thumbnail %}
{% load static %}
<link href="{% static 'css/styles.css' %}">


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for image in images %}
                <div class="col-md-4">
                    <div class="card mb-4 text-center" style="width: 19rem;">

                        <a href="{{ image.get_absolute_url }}">
                            {% thumbnail image.image '300x300' crop='center' as im %}
                            <a href="{{ image.get_absolute_url }}">
                                <img src="{{ im.url }}" alt="image">
                            </a>
                        </a>
                        <div class="card-body">
                            <p class="card-text"><a href="{{ image.get_absolute_url }}"
                                                    class="link-image">{{ image.title }}</a></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Usuń</button>
                                </div>
                                <small class="text-muted">{{ image.created|date }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
